@import 'reset-css';

.app {
    width: $max-page-width;
    margin: 0 auto;
    padding: 50px;
    
    .navigation {
        margin-bottom: 50px;
        padding-bottom: 20px;
        border-bottom: 2px solid #ccc;
        a {
            margin-left: 50px;
            font-size: 20px;
            font-weight: bold;
            color: #000;
            text-decoration: none;
            &:first-child {margin-left: 0;}
        }
    }
}